#root {
  margin: 0 auto;
  margin-top: 3.4em;
  max-width: 598px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #4A4A4A;
}


form {
  position: relative;
  right: 4.6em;
  margin-top: 0.2em;
}

