.temperatures {
  margin-top:3em;
  margin-bottom: 3.3em;
}
.temp {
  position:relative;
  display:inline;
  font-size:22.68px;
}

.temp.n0 {
  position: relative;
  top: 0.1em;
  left: 0.02em;
  display:block;
  font-size: 55.1px;
  margin-bottom:0.3em;
  right:0.1em;
  font-weight: 100;
}

.temp.n1 {
  right:1.2em;
}

.temp.n2 {
  left:0.5em;
}





