.temperatures {
  margin-top:3em;
  margin-bottom: 3em;
}
.temp {
  position:relative;
  display:inline;
  font-size:28px;
}

.temp.n0 {
  display:block;
  font-size: 70px;
  margin:0;
  margin-bottom:0.3em;
  right:0.1em;
  font-weight: 100;
}

.temp.n1 {
  right:1.2em;
}

.temp.n2 {
  left:0.5em;
}





